[submodule "dotfile-bash"]
	path = dotfile-bash
	url = https://github.com/hitohata/dotfile-bash.git
[submodule ".neovim"]
	path = .neovim
	url = https://github.com/hitohata/.neovim.git
[submodule ".ghostty"]
	path = .ghostty
	url = https://github.com/hitohata/.ghostty.git
